body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eaf4fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Form styling */
form {
    background: #FFFFFF; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Mini cart styling */
.mini-cart {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 200px;
    background-color: #FFFFFF; 
    border: 1px solid #333333;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* Button styling */
.register-button,
.logout-button,
.button-primary,
.button {
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
.register-button:hover,
.logout-button:hover,
.button-primary:hover,
.button:hover {
    background-color: #333333; 
}

/* Customize login and register buttons */
.button-primary {
    background-color: #f0dc24; 
    color: #000000; 
}

.register-button {
    background-color: #d58b3b; 
    color: #000000; 
}

.logout-button {
color: #ffffff; 
}

/* Header styling */
header {
    background-color: #ffffff; 
    color: #ffffff; 
    padding: 15px 20px;
    text-align: center;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Product list styling */
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Product item styling */
.product-item {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Product image styling */
.product-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Welcome message styling */
.welcome-message {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #ffffff !important;
    color: #000000; 
}

/* Page container styling */
.page-container {
    display: flex;
    flex-direction: column;
}

/* Welcome message positioning */
.welcome-message {
    align-self: center;
    margin-top: 20px;
}

.slogan {
    text-align: center;
    color: #007acc; 
}

/* Heading styling */
h1, h2 {
    text-align: center;
    color: #008000;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ffffff; 
}

h2 {
    margin-bottom: 10px;
    color: #004080;

}

h3, p {
    color: #000080;
}

