body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
h2 {
    margin-bottom: 20px;
    text-align: center;
}
button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color : #fff;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}
buton:hover {
    background-color: #0056b3;
}
/*home view*/
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav .logout-button {
    color: #fff;
    text-decoration: none;
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

nav .logout-button:hover {
    background-color: #c0392b;
}

main {
    padding: 20px;
}
/* Style for logout button */
.logout-button {
    background-color: #ff4c4c;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
}

.logout-button:hover {
    background-color: #e22a2a;
}