<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    {% load static %}
    <link href="{% static 'shop/style.css' %}" rel="stylesheet" >
</head>
<body>
    <div class="page-container">
        <div class="search-bar">
            <form action="{% url 'home' %}" method="GET">
                <input type="text" name="query" placeholder="Search products..." value="{% if query %}{{ query }}{% endif %}">
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
        <div class="welcome-message">
            {% if user.is_authenticated %}
                Hello, {{ user.username }}. You are logged in.
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a> |
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
        <div class="organize-filter">
            <form action="{% url 'home' %}" method="GET">
                <label for="sort">Sort by:</label>
                <select name="sort" id="sort">
                    <option value="">Featured</option>
                    <option value="price_low" {% if sort_option == 'price_low' %}selected{% endif %}>Price: Low to High</option>
                    <option value="price_high" {% if sort_option == 'price_high' %}selected{% endif %}>Price: High to Low</option>
                </select>
                <button type="submit"class="search-button">Apply</button>
            </form>
        </div>
        <header> 
            <h1>Welcome to the Home Page</h1>
            <nav>
                <a href="{% url 'logout' %} " class="logout-button">Logout</a> |
            </nav>
        </header>

        <main>
            <h2>Products</h2>
            <div class="product-list">
                {% for product in products %}
                    <div class="product-item">
                        <!-- i have name, equipment_type, brand, price, description, image, available-->
                <h4>{{ product.name }}</h4>
                <p class="label"><strong>Equipment Type:</strong> <span>{{ product.equipment_type }}</span></p>
                <p class="label"><strong>Brand:</strong> <span>{{ product.brand }}</span></p>                                                                   
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                        <a href="{% url 'product' product.id %}"class="button">View Details</a>
                        <a href="{% url 'add_to_order' product.id %}"class="button-primary">Add to Order</a>                    
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
    <!-- mini-cart -->
    <div class="mini-cart">
        <h3>Your Cart</h3>
        <ul>
            {% for item in cart.items.all %}
                <li>
                    {{ item.equipment.name }} - <span class="item-quantity">Quantity: {{ item.quantity }}</span>
                    <a href="#" class="remove-item" data-equipment-id="{{ item.id }}">Remove</a>
                </li>

            {% empty %}
                <li>Your cart is empty</li>
            {% endfor %}
        </ul>
        <p><strong>Total Cost:</strong> ${{ cart_total }}</p>
        {% if cart.items.exists %}
            <a href="{% url 'checkout' %}">Checkout</a>
        {% endif %}
    </div>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const removeLinks = document.querySelectorAll('.remove-item'); // select all remove links

        removeLinks.forEach(link => { 
            link.addEventListener('click', e => {  // add event listener to each remove link 
                e.preventDefault();          // stop the default action from happening. prevent navigation to the link's href

                const listItem = e.target.parentElement; // get the list item that contains the remove link
                const item_id = e.target.dataset.equipmentId; // get the equipment id from the remove link's data attribute (data-equipment-id)

                
                fetch(`{% url 'remove_from_order' 0 %}`.replace('0', item_id), { // send a request to the remove_from_order view
                    method: 'GET', // use the GET method
                    headers: { // add the X-Requested-With header to the request
                        'X-Requested-With': 'XMLHttpRequest',
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (data.update_quantity === 0) {
                            listItem.remove();
                        } else {
                            const quantityElement = listItem.querySelector('.item-quantity');
                            if (quantityElement) {
                                quantityElement.textContent = `Quantity: ${data.updated_quantity}`;
                            }
                        }

                        // update cart total
                        const cartTotalElement = document.querySelector('.mini-cart p');
                        if (cartTotalElement) {
                            cartTotalElement.textContent = `Total Cost: $${data.new_cart_total}`;
                        }

                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            });
        });
    });
</script>
</html>