<!DOCTYPE html>
<html>
<head>
    <title>Login - ClickNBuy</title>
    {% load static %}
    <link href="{% static 'shop/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h1 class="accent-yellow">ClickNBuy</h1>
        <h2 class="accent-yellow">Login</h2>
        <form method="post" action="{% url 'login' %}"> 
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Login</button>
            <a href="{% url 'register' %} " class="register-button">Register</a>
        </form>
    </div>
</body>
</html>
